@{
    ViewData["Title"] = "Product Details";
}

<div class="text-center">
    <h1 class="display-4">Product Details</h1>
    <p>This is the product details page.</p>
    @* Displaying the ViewData message *@
    <p>@ViewData["Message"]</p>
    @* Displaying the ViewData title *@
    <p>@ViewData["Title"]</p>
    @* Product ID *@
    <p>@ViewData["ProductId"]</p>

    @* Link for back to products *@
    <p><a href="/products">Back to Products</a></p>

</div>
