@{
    ViewData["Title"] = "Products";
}

<div class="text-center">
    <h1 class="display-4">Products</h1>
    <p>This is the products page.</p>
    @* Displaying the ViewData message *@
    <p>@ViewData["Message"]</p>
    @* Displaying the ViewData title *@
    <p>@ViewData["Title"]</p>

    @* Link for back to home *@
    <p><a href="/">Back to Home</a></p>

</div>
