@{
    ViewData["Title"] = "Contact";
}

<div class="text-center">
    <h1 class="display-4">Contact</h1>
    <p>This is the contact page.</p>
    @* Displaying the ViewData message *@
    <p>@ViewData["Message"]</p>
    @* Displaying the ViewData title *@
    <p>@ViewData["Title"]</p>
    @* Department *@
    <p>@ViewData["Department"]</p>

    @* Link for back to home *@
    <p><a href="/">Back to Home</a></p>

</div>