@model IEnumerable<SecureShop.Models.Product>
@{
    ViewData["Title"] = "Products";
}

<h2>Products</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Price.ToString("C")</td>
                <td>
                    <a class="btn btn-primary" href="/Products/Details/@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (User.IsInRole("Admin"))
{
    <p>
        <a class="btn btn-success" href="/Products/Create">Add New Product</a>
    </p>
}
