@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>🎉 Registration Successful!</h2>
<p>Your account has been created successfully.</p>

